.profile-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);

}

.picture-container {
    grid-column: 1;
}

.profile-description {
    grid-column: 2;
    background-color: #B491C8;
    text-align: center;
    padding: 5%;
}

.picture {
    width: 100%;
}

.github-icon {
    width: 35%;
}

/* Responsive Design Media Queries */

@media only screen and (max-width: 660px) {
    .profile-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .picture-container {
        grid-column: 1;
        grid-row: 1;
    }

    .profile-description {
        grid-column: 1;
        grid-row: 2;
        padding-bottom: 0;
    }

    .github-icon {
        padding-top: 5%;
        width: 50%;
    }
}

@media only screen and (max-width: 530px) {
    .github-icon {
        padding: 0;
    }
}

@media only screen and (max-width: 402px) {
    .profile-container {
        display: flex;
        flex-direction: column;
    }

    .picture-container {
        vertical-align: middle;
    }

    .github-icon {
        padding-bottom: 5%;
    }
}


