@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 100vh;
    background-color: #BCA0DC;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}

/* Responsive Design Media Queries */

@media only screen and (max-width: 402px) {
    * {
        font-size: 4.5vw;
    }

    .github-icon {
        padding-bottom: 5%;
    }
}
